sanic==22.6.2
transformers
accelerate
torch
pytesseract
transformers
datasets
rouge-score
nltk
tensorboard
py7zr
huggingface_hub
requests
banana-dev
bs4
pandas
numpy
matplotlib
evaluate
regex
protobuf==3.9.2
runpod
